html {
	height: 100%;
}

body {
	background-color: #0D47A1;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

#body-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;
	height: 100%;
	background: url(img/headshot.jpg) no-repeat -775px -400px fixed;
}

#name-container {
	padding: 20px;
	background-color: #64B5F6;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.188235) 0px 10px 30px, rgba(0, 0, 0, 0.227451) 0px 6px 10px;
}

#name {
	font-family: 'Lato', sans-serif;
	font-size: 96px;
	margin-bottom: 20px;
}

#name .first {
	font-weight: 300;
}

#name .last {
	font-weight: 700;
}

#coming-soon {
	font-family: 'Josefin Slab', serif;
	font-size: 24px;
}

#circle {
	position: fixed;
	top: -300px;
	right: -300px;
	border-radius: 50%;
	height: 600px;
	width: 600px;
	background-color: #64B5F6;
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 19px 60px, rgba(0, 0, 0, 0.219608) 0px 15px 20px;
}
